ghi chú: trong phần body, ông để cục này vào thì chạy lên sẽ được (để đâu trong body đều dc nha )
tui thiết lập rồi, cứ chạy web là sẽ nhảy vào trang login của ông đầu tiên á

<div style="display:none" class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>